@media(min-width: 0px) {
    /*整體*/
    body{
        background-color: rgb(230, 225, 225);
        font-family: sans-serif;
        font-size: 20px;
    }
    /*上面列表*/
    #td0{
        position: relative;
        top: 0px;
        z-index: 9999;
    }
    /*中間介面*/
    #all0{
        width: 1390px;
        height: 1060px;
        position: absolute
    }
    /*文字字體控制*/
    #h1{
        font-size: 20px;
    }
    /*NCHU Online Judge*/
    #td11{
        width: 250px;
        height: 50px;
        background-color: white;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 50%;
    }
    /*上面列表 註冊 登入*/
    #td12{
        width: 120px;
        height: 50px;
        background-color: white;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 50%;
    }
    /*上面列表 個人資料 主頁 ....*/
    #td1{
        width: 150px;
        height: 50px;
        border-bottom: gray solid 2px;
        background-color: white;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
        position: relative;
        
    }
    /*上面列表 個人資料 主頁 [滑動變色]....*/
    #td1:hover {
        color: gray;
        animation-name: example;
        animation-duration: 4s;
    }
    /*上面列表 個人資料 主頁 [滑動變色]....*/
    @keyframes example{
        0% {border-color: gray;}
        50%{border-color: green;}
        75%{border-color: yellow;}
    }
    /*中間介面 淡出*/
    @keyframes example2{
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 1;}
    }
    #t1{
        width: 150px;
        height: 50px;
        top: 60px;
        display: none;
        position: absolute;
        color: black;
    }
    #t2{
        width: 150px;
        height: 50px;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    #td1:hover #t1{
        display: block;
        
    }
    /*超連結顏色*/
    a{
        text-decoration: none;
        color: gray;
    }
    /*超連結滑動變色*/
    a:hover{
        color: green;
    }
    /*超連結點擊變色*/
    a:active{
        color: palevioletred;
    }
    /*中間介面all*/
    #div0{
        word-wrap: break-word;
        word-break: break-all;
        line-height: 30px;
        height: 800px;
        width: 840px;
        left: 280px;
        position: relative;
        background-color: white;
        text-align: center;
        margin-top: 50px;
        color: gray;
        animation: example2 6s ease;
        float: left;
    }
    /*中間介面 一列一列顯示*/
    #div1{
        height: 50px;
        width: max-content;
        position: relative;
        border-bottom: solid;
        padding-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    /*中間介面 列切割*/
    #div2{
        height: 50px;
        width: 80px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div10{
        height: 50px;
        width: 120px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div3{
        height: 50px;
        width: 300px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div4{
        height: 50px;
        width: 225px;
        position: relative;
        float: left;
    }
    /*中間介面 註冊 登入*/
    #div5{
        height: 400px;
        width: 400px;
        position: relative;
        top: 200px;
        left: 220px;
    }
    /*中間介面 列切割*/
    #div6{
        height: 50px;
        width: 75px;
        position: relative;
        float: left;
    }
    /*中間介面 index頁面*/
    #div7{
        height: 800px;
        width: 600px;
        position: relative;
        float: left;
        border-right: solid gray;
    }
    /*中間介面 index頁面top10*/
    #div8{
        height: 800px;
        width: 200px;
        position: relative;
        float: left;
    }
    /*中間介面 index頁面top10人名*/
    #div8_2{
        height: 30px;
        width: 200px;
        position: relative;
        float: left;
        border-bottom: solid #04AA6D 0.5px;
        z-index: 3;
    }
    /*中間介面 列切割*/
    #div9{
        height: 50px;
        width: 840px;
        position: relative;
        float: left;
        text-align: center;
    }
    /*中間介面 personel 照片*/
    #div11{
        height: 320px;
        width: 218px;
        position: relative;
        float: left;
        text-align: left;
        margin-top: 40px;
        margin-left: 20px;
        border-right: solid 1px;
    }
    /*中間介面 personel 資料*/
    #div12{
        height: 60px;
        width: 600px;
        position: relative;
        float: left;
        text-align: left;
        margin-top: 40px;
        border-bottom: solid;
    }
    /*中間介面 列切割*/
    #div13{
        height: 50px;
        width: 345px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div14{
        height: 50px;
        width: 420px;
        position: relative;
        float: left;
    }
    /*中間介面 帳號 密碼*/
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    /*中間介面 登入註冊提交按鈕*/
    #button1 {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    /*中間介面 底部*/
    footer{
        background-color: whitesmoke;
        margin-top: 30px;
        width: 1390px;
        height: 160px;
        padding: 10px;
        bottom: 0%;
        color: gray;
        position: relative;
        float: left;
    }
    /*中間介面 標誌*/
    #icon{
        width: 254.5px;
        height: 220px;
        z-index: 1;
        position: absolute;
        float: left;
        margin-top: 50px;
    }
    /*中間介面 跳脫視窗*/
    #code2{
        display: none; 
        background-color: gray; 
        position: absolute; 
        top: 120px; 
        left: 280px; 
        height: 600px; 
        width: 840px; 
        border: solid; 
        align-items: center; 
        justify-content: 
        space-between; z-index: 2;
    }
    /*中間介面 跳脫視窗內部*/
    #code{
        background-color: white;  
        margin-top: 60px; 
        margin-left: 60px;
        height: 80%; 
        width: 80%; 
        overflow:scroll; 
        padding:5px;
    }
    /*中間介面 LOW*/
    .button-12 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #6E6D70;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   
    .button-12:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 Medium*/
    .button-13 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #d1813f;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   

    .button-13:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 Hard*/
    .button-14 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #a71b08;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   

    .button-14:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 關閉*/
    .button-15 {
        float: right;
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #a71b08;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   

    .button-15:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 AC*/
    .button-16 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #757774;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #0ef70e;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-weight: bold;
        font-size: 14px;
    }   

    .button-16:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
}
@media(min-width: 321px) {
    /*整體*/
    body{
        background-color: rgb(230, 225, 225);
        font-family: sans-serif;
        font-size: 20px;
    }
    /*上面列表*/
    #td0{
        position: relative;
        top: 0px;
        z-index: 9999;
    }
    /*中間介面*/
    #all0{
        width: 1390px;
        height: 1060px;
        position: absolute
    }
    /*文字字體控制*/
    #h1{
        font-size: 20px;
    }
    /*NCHU Online Judge*/
    #td11{
        width: 250px;
        height: 50px;
        background-color: white;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 50%;
    }
    /*上面列表 註冊 登入*/
    #td12{
        width: 120px;
        height: 50px;
        background-color: white;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: 50%;
    }
    /*上面列表 個人資料 主頁 ....*/
    #td1{
        width: 150px;
        height: 50px;
        border-bottom: gray solid 2px;
        background-color: white;
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
        position: relative;
        
    }
    /*上面列表 個人資料 主頁 [滑動變色]....*/
    #td1:hover {
        color: gray;
        animation-name: example;
        animation-duration: 4s;
    }
    /*上面列表 個人資料 主頁 [滑動變色]....*/
    @keyframes example{
        0% {border-color: gray;}
        50%{border-color: green;}
        75%{border-color: yellow;}
    }
    /*中間介面 淡出*/
    @keyframes example2{
        0% {opacity: 0;}
        50% {opacity: 1;}
        100% {opacity: 1;}
    }
    #t1{
        width: 150px;
        height: 50px;
        top: 60px;
        display: none;
        position: absolute;
        color: black;
    }
    #t2{
        width: 150px;
        height: 50px;
        margin: 0;
        padding: 0;
        background-color: white;
    }
    #td1:hover #t1{
        display: block;
        
    }
    /*超連結顏色*/
    a{
        text-decoration: none;
        color: gray;
    }
    /*超連結滑動變色*/
    a:hover{
        color: green;
    }
    /*超連結點擊變色*/
    a:active{
        color: palevioletred;
    }
    /*中間介面all*/
    #div0{
        word-wrap: break-word;
        word-break: break-all;
        line-height: 30px;
        height: 800px;
        width: 840px;
        left: 280px;
        position: relative;
        background-color: white;
        text-align: center;
        margin-top: 50px;
        color: gray;
        animation: example2 6s ease;
        float: left;
    }
    /*中間介面 一列一列顯示*/
    #div1{
        height: 50px;
        width: max-content;
        position: relative;
        border-bottom: solid;
        padding-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    /*中間介面 列切割*/
    #div2{
        height: 50px;
        width: 80px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div10{
        height: 50px;
        width: 120px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div3{
        height: 50px;
        width: 300px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div4{
        height: 50px;
        width: 225px;
        position: relative;
        float: left;
    }
    /*中間介面 註冊 登入*/
    #div5{
        height: 400px;
        width: 400px;
        position: relative;
        top: 200px;
        left: 220px;
    }
    /*中間介面 列切割*/
    #div6{
        height: 50px;
        width: 75px;
        position: relative;
        float: left;
    }
    /*中間介面 index頁面*/
    #div7{
        height: 800px;
        width: 600px;
        position: relative;
        float: left;
        border-right: solid gray;
    }
    /*中間介面 index頁面top10*/
    #div8{
        height: 800px;
        width: 200px;
        position: relative;
        float: left;
    }
    /*中間介面 index頁面top10人名*/
    #div8_2{
        height: 30px;
        width: 200px;
        position: relative;
        float: left;
        border-bottom: solid #04AA6D 0.5px;
        z-index: 3;
    }
    /*中間介面 列切割*/
    #div9{
        height: 50px;
        width: 840px;
        position: relative;
        float: left;
        text-align: center;
    }
    /*中間介面 personel 照片*/
    #div11{
        height: 320px;
        width: 218px;
        position: relative;
        float: left;
        text-align: left;
        margin-top: 40px;
        margin-left: 20px;
        border-right: solid 1px;
    }
    /*中間介面 personel 資料*/
    #div12{
        height: 60px;
        width: 600px;
        position: relative;
        float: left;
        text-align: left;
        margin-top: 40px;
        border-bottom: solid;
    }
    /*中間介面 列切割*/
    #div13{
        height: 50px;
        width: 345px;
        position: relative;
        float: left;
    }
    /*中間介面 列切割*/
    #div14{
        height: 50px;
        width: 420px;
        position: relative;
        float: left;
    }
    /*中間介面 帳號 密碼*/
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    /*中間介面 登入註冊提交按鈕*/
    #button1 {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    /*中間介面 底部*/
    footer{
        background-color: whitesmoke;
        margin-top: 30px;
        width: 1390px;
        height: 160px;
        padding: 10px;
        bottom: 0%;
        color: gray;
        position: relative;
        float: left;
    }
    /*中間介面 標誌*/
    #icon{
        width: 254.5px;
        height: 220px;
        z-index: 1;
        position: absolute;
        float: left;
        margin-top: 50px;
    }
    /*中間介面 跳脫視窗*/
    #code2{
        display: none; 
        background-color: gray; 
        position: absolute; 
        top: 120px; 
        left: 280px; 
        height: 600px; 
        width: 840px; 
        border: solid; 
        align-items: center; 
        justify-content: 
        space-between; z-index: 2;
    }
    /*中間介面 跳脫視窗內部*/
    #code{
        background-color: white;  
        margin-top: 60px; 
        margin-left: 60px;
        height: 80%; 
        width: 80%; 
        overflow:scroll; 
        padding:5px;
    }
    /*中間介面 LOW*/
    .button-12 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #6E6D70;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   
    .button-12:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 Medium*/
    .button-13 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #d1813f;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   

    .button-13:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 Hard*/
    .button-14 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #a71b08;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   

    .button-14:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 關閉*/
    .button-15 {
        float: right;
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #a71b08;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #DFDEDF;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }   

    .button-15:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
    /*中間介面 AC*/
    .button-16 {
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        background: #757774;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
        color: #0ef70e;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        font-weight: bold;
        font-size: 14px;
    }   

    .button-16:focus{
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }
}

